#contact-list {
  display: none;
}

#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #66FFFF;
}

.contact:hover {
  text-decoration: underline;
}

body {
    background-color: #009999;
}

h1, h2, h3 {
    color: white;
}

.form-control {
    color: black;
}
